@import "../_navbar_back";


.edit{
	padding: 50px;
	h3{
		font-family: cursive;
		padding-bottom: 20px;
	}
	.row{
		padding-top: 25px;
		
        padding-bottom: 25px;
		form{
			.form-group{
				max-height: 77px;
			    min-height: 77px;
			    height: 77px;
			}
			textarea{
				height: 50px;
				resize: none;
				min-height: 80px;
				max-height: 100px;
			}// teaxare
			input{
				font-size: 20px;
			    text-transform: capitalize;
			    font-weight: 700;
			}
			input[type='password']{
				font-size: 15px;
				text-transform: none;
				font-family: 100;
			}
			.button{
				position: absolute;
			    bottom: -80px;
			    margin-left: 44%;
			    width: 100px;
			    button{
			    	width: 100%;
			    }
			}

		  	
		}//form

	}//row

}//eidt