@import 'main_welcome.scss';
body{
	direction: rtl;
	text-align: start;
}
.navbar{
	a{
	   position: absolute;
       left: 123px;
	}
}
$float_right:right;
.container{
	.intro{
	   
	}
}

.container {
  .types{
  	 float: $float_right;
  	 
  	 .head{
  	 	padding-bottom: 20px;
  	 }
  }
}
.contanier{
	.steps{
      
	}
}